.main-nav-bar {
  position: relative;
}
.search-box {
  position: absolute;
  right: 53%;
  width: 450px;
}
.menu-bar {
  position: absolute;
  left: 48%;
}
.brand-logo {
  font-size: 38px;
  font-weight: 700;
  background-color: blue;
  color: white !important;
  height: 59px;

  padding: 0px 9px 10px 9px;
  border-radius: 13px;
}
.search-button {
  border-radius: 50px;
}
.icons {
  display: grid;
  text-align: center;
}
.dd {
  padding-top: 15px;
}
.premium-free {
  position: absolute;
  left: 87%;
  width: 110px;
  color: orange;
}
.job-data {
  list-style-type: none;
}
.nav-button {
  display: flex;
}
.profile-data {
  background-color: beige;
  margin-top: 10px;
  margin-left: 22px;
  height: fit-content;
  padding: 25px 0px;
  width: 20%;
  color: rgb(75, 69, 69);
  border-radius: 5px;
  font-size: small;
  font-weight: 700;
  box-shadow: 2px 2px 5px grey;
}
#list-icon {
  padding-top: 20px;
}
.job-searcher {
  margin-top: 10px;
  background-color: beige;
  margin-left: 20px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px grey;
  position: relative;
}
#searcher-input {
  list-style: none;
  height: 30px;
  padding-top: 10px;
}
.close-button {
  position: absolute;
  left: 92%;
  top: 10px;
}
